<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Alo Alerj</title>

    <!-- Bootstrap core CSS -->
    <link href="Content/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container" id="home">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Alo Alerj</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li class="active"><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">CEP</label>
            <input type="text" class="form-control" id="cep" placeholder="cep" v-model="cep" v-on="keyup: checkZip" autofocus>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" placeholder="Logradouro" v-model="logradouro">
          </div>
          <div class="btn btn-default" v-on="click: addZip">Adicionar</div>
        </form>

        <br />
        <br />

        <div class="well well-lg" v-if="list.length">
            <table class="table">
                <tr>
                    <td>CEP</td>
                    <td>Logradouro</td>
                </tr>
                <tr v-repeat="list">
                    <td>{{ cep }}</td>
                    <td>{{ logradouro }}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.10/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.13/vue-resource.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="resources/app.js"></script>
</body>
</html>
